/*Reboot*/

*{
    padding: 0;
    margin: 0;
    border: 0;
 }
 *,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
 nav,footer,header,aside{display: block;}
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
 .btn, button{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 }
 
 .btn:focus, button:focus{
   outline: none;
 } 
 a[href^=tel]{
    color: #000;
 }
 input,button,textarea{font-family: inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner{padding: 0;border: 0;}
 a,a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 ul li{list-style: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/*Main Body*/
 
 body{max-width: 3840px;width: 100%;padding: 0px;margin: 0px auto;}

/*Begin*/

.header{
    display: flex;
    position: absolute;
}
.mainlogo{
    font-family: "Crimson Pro";
    font-weight: 200;
    font-size: 2.7vw;
    color: #ffffffda;
    text-align: center;
    margin-top: 2.5vw;
    margin-left: 7vw;
}
.header_list{
    margin-top: 5.2%;
    margin-left: 2vw;
}
.header_item{
    display: inline;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 1vw;
    margin-left: 4.3vw;
}
.icon_menu{
    margin-top: 4.7%;
    margin-left: 5vw;
}
.header_icon{
    width: 1.7vw;
    height: 1.7vw;
    margin-left: 1.5vw;
}
.white_word{
    color: rgba(255, 255, 255, 0.809);
}
.block1{
    display: flex; 
    width: 100%;
}
.block1_1{
    display: block; 
    width: 50%;
}
.block1_2{
    width: 50%;
}
.image_green{
    width: 100%;
}
.image_pillow{
    width: 226%;
    margin-top: -152.8%;
    margin-left: 174%;
}
.button_icon{
    position:absolute;
    margin-top: -20%;
    margin-left: 46%;
    width: 11vw;
    height: 11vw;
}
.main_footer{
    width: 100%;
    margin-top: -1%;
}
.footer_image{width: 100%;}
.foot_text{
    margin-top: -17%;
    text-align: center;
}
.foot_text1{
    font-family: "Poppins";
    font-size: 1.3vw;
    color: #ffffff87;
    font-weight: 100;
}
.foot_text2{
    margin-top: 2%;
    color: #FFFFFF;
    line-height: 130%;
    font-size: 2.6vw;
    font-family: "Crimson Pro";
    font-weight: 200;
    word-spacing: 0.3vw;
}

@media (min-width: 1440px){
    .main_footer{
        margin-top: -1%;
    }
}
@media (max-width: 1320px){
    .main_footer{
        margin-top: -1.5%;
    }
}
@media (max-width: 920px){
    .main_footer{
        margin-top: -2%;
    }
    .icon_menu{
        margin-top: 5%;
    }
    .header_list{
        margin-top: 4.7%;
    }
}